**/venv/*
**/.idea/*
.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
/tods/
/loaders/cimis/cimis_api_key.py
/data/metrics/old/
/data/2020
/data/2021
/data/sims
/data/weather/weater_report_DecJan.csv
/data/weather/old
/models/old
loaders/weather_station/cimis_api_key.py
loaders/mesowest/mesowest_token.py
loaders/mesowest/sce_15_18.csv
loaders/mesowest/sce_18_21.csv
loaders/mesowest/sce_202101120000_202101150000.csv
loaders/mesowest/sce_202101150000_202101180000.csv
loaders/mesowest/sce_202101180000_202101210000.csv
loaders/mesowest/sce_202101150000_202101180000.csv
loaders/mesowest/sce_202101150000_202101180000.csv
loaders/mesowest/sce.csv
